<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CB_Copy_Helper.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <CB_Copy_Helper.My.MySettings>
            <setting name="isMM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PngFontPath" serializeAs="String">
                <value>c:\pngfont2.exe</value>
            </setting>
            <setting name="FontToolsPath" serializeAs="String">
                <value>c:\fnttool3.exe</value>
            </setting>
        </CB_Copy_Helper.My.MySettings>
    </userSettings>
</configuration>
